// .not-found {
    .error-flex {
        display: flex;
        .error-content {
            background: url('../../assets/images/404-hero.jpg');
            background-position: center;
            background-size: cover;
            height: 350px;
            color: #FFFFFF;
            font-size: 28px;
            text-align: center;
            p {
                font-size: 20px;
            }
        }
    }

