.chocolate-template-default {
  .chocolate-details {
    margin-bottom: 4rem;
    * {
      font-weight: normal;
    }
    span {
      display: inline;
      padding-left: 1rem;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
  .chocolate-info {
    display: flex;
    align-items: center;
    p {
      margin: 0;
      padding: 1rem;
    }
  }
  .chocolate-inline {
    display: inline-block;
  }
  .chocolate-type {
    padding-left: 3px;
    img {
      width: 26px;
    }
  }
}