// location page style
.page-id-40{
  // hero banner
  .donate-hero-banner{
    background: linear-gradient( rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.6)), url("../../assets/images/donate/donate-hero.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
    p{
      margin-top: 2rem;
    }
  }

  .site-content {
    img {
    width: 126px;
    display: block;
    margin: 2rem auto;
    }
    p {
      margin-top: 2rem;
    }
  }
  .donation-way-list{
    color: $color_secondary_darkgray;
    li{
      list-style-type: decimal;
      margin-bottom: 2rem;
      font-weight: 300;
      &::before{
        margin-right: 4rem;
      }
    }
  }
  .button-border{
    .border1, .border2{
      border-color: $color_secondary_darkgray;
      color: $color_secondary_darkgray;
      &:hover{
        border-color: $color_primary_orange;
        color: $color_primary_orange;
      }
    }
  }
  
}