// location page style
.page-id-40{
  // hero banner
  .donate-hero-banner{
    background: linear-gradient( rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.6)), url("../../assets/images/donate/donate-1.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}