.footer-site-info {
    opacity: 0.7;
    background-color: #000000;
    height: 250px;
    width: 100%;
    color: #fff;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    .social-icons {
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 2.18%;
        margin-bottom: 2.13%;
        a {
            cursor: pointer;
            color: #fff;
            margin: 1rem;
        }
    }
    .contact-desktop-only {
        display: none;
    }
    .location-info {
        display: flex;
        justify-content: center;
        margin-left: 8%;
        .address,
        .biz-hours {
            width: 40%;
            p {
                @include footer-text;
            }
        }
        .days-of-week {
            text-transform: uppercase;
        }
    }
    .copyright {
        margin-bottom: 2%;
        margin-top: 2.5%;
        p {
            text-align: center;
            @include footer-text;
            font-size: 12px;
        }
    }
}