.footer-site-info {
    opacity: 0.7;
    background-color: #000000;
    height: 250px;
    width: 100%;
    color: #fff;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    .social-icons {
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 2.18%;
        margin-bottom: 2.13%;
        a {
            cursor: pointer;
            color: #fff;
            margin: 1rem;
        }
        @include desktop {
            .fa-twitter {
                &:hover {
                    color: #c0deed;
                }
            }
            .fa-instagram {
                &:hover {
                    color: #fb3958;
                }
            }
            .fa-facebook-official {
                &:hover {
                    color: #8b9dc3;
                }
            }
            .fa-pinterest-p {
                &:hover {
                    color: #C92228;
                }
            }
        }
    }
    .footer-info {
        display: flex;
        .contact-desktop-only {
            flex: 0 1 49%;
            display: none;
            @include desktop {
                display: block;
                a {
                    @include footer-text;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        .location-info {
            flex: 0 1 100%;
            display: flex;
            justify-content: center;
            .address,
            .biz-hours {
                width: 35%;
                p {
                    @include footer-text;
                    margin-left: 10%;
                }
            }
            .days-of-week {
                text-transform: uppercase;
            }
        }
    }
    .copyright {
        margin-bottom: 2%;
        margin-top: 3rem;
        p {
            text-align: center;
            @include footer-text;
            margin: auto;
            font-size: 12px;
        }
    }
}