.footer-site-info {
    opacity: 0.7;
    background-color: #000000;
    margin: 0 auto;
    width: 100%;
    color: #fff;
    margin: 0 auto;
    .social-icons {
        text-align: center;
        padding-top: 2rem;
        width: 100%;
        @include desktop {
            padding-top: 1.5rem;
        }
        a {
            cursor: pointer;
            color: #fff;
            margin: 1rem;
        }
        @include desktop {
            .fa-twitter {
                &:hover {
                    color: #c0deed;
                }
            }
            .fa-instagram {
                &:hover {
                    color: #fb3958;
                }
            }
            .fa-facebook-official {
                &:hover {
                    color: #8b9dc3;
                }
            }
            .fa-pinterest-p {
                &:hover {
                    color: #C92228;
                }
            }
        }
    }
    .footer-info {
        width: 100%;
        .location-info {
            display: flex;
            width: 300px;
            margin: 0 auto;
            justify-content: space-between;
            padding-top: 1rem;
            .contact-desktop-only {
                display: none;
                @include desktop {
                    display: block;
                    a {
                        @include footer-text;
                        color: #fff;
                        text-decoration: none;
                        font-size: 1rem;
                    }
                }
            }
            .address,
            .biz-hours,
            .contact-desktop-only {
                p {
                    @include footer-text;
                    font-size: 1rem;
                }
            }
        }
    }
    .copyright {
        padding-bottom: 1rem;
        padding-top: 2rem;
        p {
            text-align: center;
            @include footer-text;
            margin: auto;
            font-size: 12px;
        }
    }
}

.evr-business-hours-class {
    margin: 0;
    h3, p {
        margin: 0;
    }
    h3 {
        font-size: 1rem;
        font-weight: 300;
    }
    .days-of-week {
        display: inline;
    }
    .monday-friday {
        display: inline;
    }
}

.evr-address-class {
    margin: 0;
    h3, p {
        margin: 0;
    }
    .city {
        display: inline;
    }
    .region {
        display: inline;
    }
}