
.home {
    .main-hero {
        height: 250px;
        background: url('../../assets/images/home-page.jpg');
        background-position: center;
        background-size: cover;
    }
    .content-one {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 116px;
        background-color: #000000;
        .content-one-div {
            height: 45px;
            width: 325px;
            color: #FFFFFF;
            font-size: 16.5px;	
            line-height: 23px;
            text-align: center;
            margin-bottom: 0;
        }
    }
    .store-hero {
        height: 337px;
        background: url('../../assets/images/home-page-2.jpg');
        background-position: center;
        background-size: cover;
    }
    .content-two {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 161px;
        background-color: #000000;
        .content-two-div {
            height: 92px;
            width: 325px;
            color: #FFFFFF;	
            font-size: 16.5px;	
            line-height: 23px;	
            text-align: center;
            margin-top: 0;
            .eat {
                color: red;
            }
            .author {
                margin-top: 0;
            }
        }
    }
    .menu-hero {
        height: 338px;
        background: url('../../assets/images/home-page-3.png');
        background-position: center;
        background-size: cover;
        position: relative;
        .front-page-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .subscribe {
        background-color: #fff;
        height: 202px;
        margin: 0 5%;
        .subscribe-content {
            text-align: center;
        }
        .subscribe-form {
            display: flex;
            max-width: 300px;
            margin: 0 auto;
            .email {
                width: 296px;
                background-color: rgba(155,155,155,0.4);
                flex: 1 1 75%;
                border: none;
                border-radius: 0;
            }
            .sign-up {
                flex: 1 1 25%;
                height: 32px;
                width: 77px;
                background-color: #E13404;
                box-shadow: none;
                color: #fff;
                font-weight: 300;
                border: none;
                border-radius: 0;
            }
        }
    }
}
