/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.home {
    .main-hero {
        height: 250px;
        background: url('../../assets/images/home-page.jpg');
        background-position: center;
        background-size: cover;
    }
    .content-one, .content-two {
        height: 116px;
        border: 1px solid #000000;
        background-color: #000000;
    }
    .store-hero {
        height: 337px;
        background: url('../../assets/images/home-page-2.jpg');
        background-position: center;
        background-size: cover;
    }
    .content-two {
        height: 161px;
    }
    .menu-hero {
        height: 338px;
        background: url('../../assets/images/home-page-3.png');
        background-position: center;
        background-size: cover;
        position: relative;
        .front-page-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .subscribe {
        background-color: #fff;
        text-align: center;
        height: 202px;
        .subscribe-form {
            display: flex;
            max-width: 300px;
            margin: 0 auto;
            .email {
                width: 296px;
                background-color: rgba(155,155,155,0.4);
                flex: 1 1 75%;
                border: none;
                border-radius: 0;
            }
            .sign-up {
                flex: 1 1 25%;
                height: 32px;
                width: 77px;
                background-color: #E13404;
                box-shadow: none;
                color: #fff;
                font-weight: 300;
                border: none;
                border-radius: 0;
            }
        }
    }
}
