html {
  font-family: $font__main;
  font-size: $base__font-size;
  width: 100%;
}

* {
  box-sizing: border-box;
}

i {
	font-style: italic;
}

body{
  margin-top: 0;
}

// Globals - font style
// mobile - header, page title on header
h1{
  font-size: 2rem;
  font-weight: 700;
  @include desktop{
    font-size: 3rem;
  }
}

// mobile - title 
h2{
  font-size: 1.5rem;
  font-weight: 700;
  @include desktop{
    font-size: 2.4rem;
    margin-top: 0;
    padding-top: 2rem;
  }
}

h3{
  font-size: 1.2rem;
  @include desktop{
    font-size: 1.7rem;
  }
}

p{
  font-weight: 300;
}

ul {
  padding-left: 0;
  margin-left: 0;
}

li {
  list-style: none;
}

a{
  font-weight: 300;
}

.p-link-black{
  color: $color_secondary_darkgray;
  text-decoration: underline;
}

.text-center{
  text-align: center; 
}

.header-underline-black{
  padding-bottom: 1rem;
  border-bottom: 1px solid $color_secondary_darkgray;
}

.header-underline-white{
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
}


// Globals - page structure
.container-full{
  width: 100%;
}
.container-padding{
  padding-left: 2rem;
  padding-right: 2rem;
}
.container-max1080{
  max-width: $desktop-width;
  margin-left: auto;
  margin-right: auto;
}
.container-max800{
  max-width: $mobile-width;
  margin-left: auto;
  margin-right: auto;
}

.display-flex-wrap{
  display: flex;
  flex-wrap: wrap;
}

// pep page, 
.container-white-bg-content{
  width: 85%;
  margin: 0 auto;
  @include desktop{
    max-width: 800px;
  }
}
.container-separator-top-bottom{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}


// Top hero banner style 
.hero-banner{
  width: 100%;
  height: 400px;
  @include desktop{
    position: relative;
    height: 100vh;
    min-height: 650px;
  }
  .hero-content-container{
    display: none;
    @include desktop{
      color: white;
      display: inline-block;
      position: absolute;
      bottom: 0;
      margin-bottom: 100px;
      width: 100%;
    }
    .hero-content-title{
      font-size: 4rem;
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    .hero-content-description, .hero-button{
      font-size: 1.4rem;
    }
    .hero-content-description{
      max-width: 800px;
    }
    .hero-button{
      color: white;
      &:hover{
        color: $color_primary_orange;
      }
    }
  }
} // end of .hero-banner

// Button border - white
.button-border{
  margin: 2.5rem;
  .border1, .border2{
    display: inline-block;
    width: 170px;
    height: 55px;
    border: 2px solid white;
    color: white;
    &:hover{
      border-color: $color_primary_orange;
      color: $color_primary_orange;
    }
  }
  .border1{
    position: relative;
  }
  .border2{
    position: absolute;
    top: 5px;
    left: 5px;
  }
  a{
    line-height: 45px;
    color: white;
    font-weight: normal;
    font-size: 1.2rem;
    &:hover{
      color: $color_primary_orange;
    }
  }
}

// Button border - Orange
.button-border-orange{
  margin: 2.5rem;
  .border1, .border2{
    display: inline-block;
    width: 170px;
    height: 55px;
    border: 1px solid $color_primary_orange;
    color: $color_primary_orange;
    &:hover{
      border-color: black;
      color: black;
    }
  }
  .border1{
    position: relative;
  }
  .border2{
    position: absolute;
    top: 5px;
    left: 5px;
  }
  a{
    font-weight: normal;
    line-height: 45px;
    color: $color_primary_orange;
    &:hover{
      color: black;
    }
  }
}

.header-offset:before {
  @include desktop {
    display: block;
    content: " ";
    height: 100px; 
    margin-top: -100px; 
    visibility: hidden;
  }
}