html {
  font-family: $font__main;
  font-size: $base__font-size;
  letter-spacing: 0.1rem;
  overflow-x: hidden; 
  width: 100%;
}

* {
  box-sizing: border-box;
}

i {
	font-style: italic;
}

body{
  margin-top: 0;
}

// Globals - page structure
.container-full{
  width: 100%;
}
.container-padding{
  padding-left: 2rem;
  padding-right: 2rem;
}
.container-max1080{
  max-width: $desktop-width;
  margin-left: auto;
  margin-right: auto;
}

// Globals - font style
// mobile - header, page title on header
h1{
  font-size: 2rem;
  font-weight: 700;
  @include desktop{
    font-size: 3rem;
  }
}

// mobile - title 
h2{
  font-size: 1.5rem;
  font-weight: 700;
  @include desktop{
    font-size: 2.4rem;
  }
}

h3{
  font-size: 1.2rem;
  @include desktop{
    font-size: 1.7rem;
  }
}

p{
  font-weight: 300;
}

ul {
  padding-left: 0;
  margin-left: 0;
}

li {
  list-style: none;
}

a{
  font-weight: 300;
}


// Top hero banner style 
.hero-banner{
  
  width: 100%;
  height: 500px;
  @include desktop{
    position: relative;
    height: 100vh;
  }
  .hero-content-container{
    display: none;
    @include desktop{
      color: white;
      display: inline-block;
      position: absolute;
      bottom: 0;
      margin-bottom: 5rem;
      width: 100%;
    }
    .hero-content-title{
      font-size: 4rem;
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    .hero-content-description, .hero-button{
      font-size: 1.4rem;
    }
    .hero-content-description{
      max-width: 800px;
    }
    .hero-button{
      color: white;
      &:hover{
        color: $color_primary_orange;
      }
    }
  }
} // end of .hero-banner


