// location page style
.page-id-23 {
  // hero banner
  .location-hero-banner {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../../assets/images/location/location-hero.png") center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  // evr location info on mobile view
  .location-evr-info-mobile {
    h3 {
      margin-bottom: .2rem;
    }
    .locations-header {
      display: flex;
      justify-content: center;
      h2 {
        text-align: center;
        border-bottom: 2px solid black;
        width: 60%;
        @include desktop {
          border-bottom: 2px solid #fff;
        }
      }
    }
    .evr-info-wrapper {
      p {
        margin: 0;
      }
      .location-date-hrs {
        display: flex;
        justify-content: flex-start;
        max-width: 500px;
        .location-date {
          margin-right: 30%;
          @include desktop {
            margin-right: 50%;
          }
        }
      }
    }
    @include desktop {
      color: #fff;
      background-color: $color_background_gray;
      border-bottom: #fff;
    }
    @include desktop {
      display: none;
    }
  } 
  // evr location info on desktop view
  .location-evr-info-desktop {
    display: none;
    @include desktop {
      display: block;
      .evr-info-wrapper {
        display: flex;
        .info-img {
          background: url("../../assets/images/location/info.svg") center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 25px;
          width: 25px;
        }
      }
    }
  }
  
  // location content style
  .location-evr-partners {
    background-color: black;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    h2 {
      text-align: center;
      margin: 0;
    }
    .location-evr-partners-chocolate-coffee,
    .location-evr-partners-chocolate,
    .location-evr-partners-coffee {
      div {
        margin: 2rem;
        margin-left: 0;
      }
      p {
        margin: 0;
      }
    }
  }
} // end of .apage-id-23