// location page style
.page-id-23{
  // hero banner
  .hero-banner{
    background: linear-gradient( rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.6)), url("../../assets/images/locations.png") center;
  }

  // location content style
  .location-evr-partners{
    background-color: black;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    // .location-evr-partners-content{
    //   margin-top: 2rem;
    //   margin-bottom: 2rem;
    // }
  }

} // end of .page-id-23

