// Menu page style 
.page-template-menu{
  // hero banner
  .menu-hero-banner{
    background: linear-gradient( rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.6)), url("../../assets/images/menu/menu.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  // location content style - globals
  .menu-coffee-container, .menu-chocolate-container{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .menu-coffee-content, .menu-chocolate-content, .menu-location{
    max-width: 400px;
    text-align: center; 
    margin: 0 auto;
  }
  .menu-line{
    border-bottom: 1px solid;
    margin-bottom: 2rem;
  }
} // end of .page-template-menu

// Coffee Bar style
.menu-coffee-container{
  background-color: $color_secondary_darkgray;
  color: white;
  
  .menu-line{
    border-color: white;
  }
}

// Chocolate Lab style