// Menu page style 
.page-template-menu{
  // hero banner
  .menu-hero-banner{
    background: linear-gradient( rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.6)), url("../../assets/images/menu/menu.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  // location content style

} // end of .page-template-menu