// Peer employment program page style

// PEP banner
.page-id-96{
  .pep-hero-banner{
    background: linear-gradient( rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.6)), url("../../assets/images/pep/peer-employment-hero.png") center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .site-content img{
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
  