// Peer employment program page style

// PEP banner
.page-id-38{
  .pep-hero-banner{
    background: linear-gradient( rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.6)), url("../../assets/images/peer-employment-1.png") center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
  