.email-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 225px;
    max-width: 350px;
    z-index: 9999;
    @include desktop {
        min-height: 50vh;
        min-width: 60vw;
    }
    .popup-header {
        height: 50px;
        width: 350px;	
        background-color: #E13404;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        h1 {
            font-size: 18px;
            text-transform: uppercase;
            @include desktop {
                font-size: 20px;
            }
        }
        @include desktop {
            min-width: 60vw;
            height: 80px;
        }
        .close-popup {
            position: absolute;
            right: 5%;
            top: 7%;
            height: 20px;
            width: 20px;
            background: url("../../assets/images/shapex.svg") no-repeat;
            background-size: contain; 
            cursor: pointer;
            @include desktop {
                height: 22px;
                width: 22px;
            }
        }
    }
    .popup-content {
        
        text-align: center;
        p {
            font-size: 14px;
            margin: 1rem;
            @include desktop {
                margin: 2rem
            }
        }
        .subscribe-form {
            display: flex;
            max-width: 250px;
            margin: 0 auto;
            @include desktop {
                min-width: 300px;
                max-width: 40vw;
            }
            .email {
                width: 225px;
                background-color: rgba(155, 155, 155, 0.4);
                flex: 1 1 70%;
                border: none;
                border-radius: 0;
                @include desktop {
                    flex: 1 1 75%;
                }
            }
            .sign-up {
                flex: 1 1 30%;
                height: 32px;
                width: 100px;
                background-color: #E13404;
                box-shadow: none;
                color: #fff;
                font-weight: 300;
                border: none;
                border-radius: 0;
                @include desktop {
                    height: 60px;
                    flex: 1 1 25%;
                }
            }
        }
    }
}