.popup-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(black, 0.6);
    z-index: 999;
}
.email-popup {
    // display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    max-width: 350px;
    z-index: 999;
    @include desktop {
        min-width: 60vw;
    }
    .popup-header {
        height: 50px;
        width: 350px;
        background-color: #E13404;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        h1 {
            font-size: 18px;
            text-transform: uppercase;
            @include desktop {
                font-size: 20px;
            }
        }
        @include desktop {
            min-width: 60vw;
            height: 80px;
        }
        .close-popup {
            position: absolute;
            right: 5%;
            top: 7%;
            height: 20px;
            width: 20px;
            background: url("../../assets/images/shapex.svg") no-repeat;
            background-size: contain;
            cursor: pointer;
            @include desktop {
                height: 22px;
                width: 22px;
            }
        }
    }
    .popup-content {
        padding-bottom: 2rem;
        text-align: center;
        @include desktop {
            padding-bottom: 3rem;
        }
        h2 {
            margin-bottom: 0;
            @include desktop {
                padding-top: 1rem;
            }
        }
        p {
            font-size: 0.9rem;
            padding: 1rem 2rem 1.5rem;
            margin: 0;
            @include desktop {
                font-size: 1rem;
            }
        }
        .subscribe-form {
            display: flex;
            max-width: 80%;
            margin: 0 auto;
            @include desktop {
                max-width: 70%;
            }
            .email {
                padding: 0.3rem;
                padding-left: 0.5rem;
                background-color: rgba(155, 155, 155, 0.4);
                flex-basis: 70%;
                border: none;
                border-radius: 0;
                font-style: italic;
                @include desktop {
                    flex-basis: 75%;
                }
            }
            .sign-up {
                flex-basis: 30%;
                background-color: #E13404;
                box-shadow: none;
                text-shadow: none;
                color: #fff;
                font-weight: normal;
                border: none;
                border-radius: 0;
                padding: 0.5rem 1rem;
                font-size: 0.8rem;
                @include desktop {
                    flex-basis: 25%;
                }
            }
        }
    }
}