
// Process page style

// hero banner
.process-hero-banner{
  background: linear-gradient( rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.6)), url("../../assets/images/process/progress-hero.png") center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-process {
  background: $color_background_gray;
  color: #fff;
  width: 100%;
}

.process-text {
  padding: 0 2rem;
  text-align: center;
  
  h2 {
    padding-bottom: 1rem;
    padding-top: 3rem;
  }
  ul {
    margin-bottom: 0;
    padding-bottom: 3rem;
    
    li {
      border: .5px solid white;
      border-radius: 5px;
      width: 90%;
      padding: 2rem;
      margin: 4rem auto;
      h4 {
        margin-bottom: 0;
      }
      p {
        margin-top: 0;
      }
    }
  }
}

.bean-img{
  width: 68px;
  height: 62px;
}

.bean-info {
  text-align: left;
}

.process-chocolate {
  width: 100%;
  height: 132px;
  padding: 0;
  margin-top: 2rem;
}

.process-cacao {
  height: 150px;
  width: 100%;
}

.cacao-pods-image {
  background: url(../../assets/images/process/progress-2.jpeg);
  background-size: cover;
  height: 300px;
  margin-top: 3rem;
}

.hidden-bean-info {
  visibility: hidden;
  max-height: 0px;
  opacity: 0;
  padding-top: 0;
}

.show-bean-info {
  max-height: 350px;
  visibility: visible;
  transition: opacity 0.4s ease-in-out 0.2s, max-height 0.6s ease-in-out;
  opacity: 1;
  padding-top: 1rem;
  
}


.more-details {
  color: white;
  text-decoration: none;
  cursor: pointer;
  &:visited {
    color: white;
  }
}

.show-more-details:before {
  content: "> More ";
}

.less-details:before {
  content: "> Less "
}

@include desktop {
  .process-text {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
  }
  .process-text ul {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    li {
      border: 0.5px solid white;
      border-radius: 5px;
      width: 45%;
      padding: 2rem;
      height: auto;
      margin: 1%;
      h3 {
        text-align: center;
        font-size: 1.3rem;
      }
      .hidden-bean-info {
        visibility: visible;
        max-height: none;
        opacity: 1;
      }
      .more-details {
        display: none;
      }
    }
    li:first-child {
      margin-right: 4%;
      margin-bottom: 4rem;
    }
    li:nth-child(2) {
      margin-left: 4%;
      margin-bottom: 4rem;
    }
    li:nth-child(3) {
      margin-right: 4%;
    }
    li:nth-child(4) {
      margin-left: 4%;
    }
  }
}

.process-information {
  padding: 2.5rem 2.5rem 1rem;
  text-align: center;
}