.process-hero-banner {
  height: 400px;
  width: 100%;
  overflow: hidden;
  background: url('../../assets/images/progress-1.png');
  background-size: cover;
}

.page-process {
  background: $color_background_gray;
  color: #fff;
  width: 100%;
}

.process-text {
  padding: 0 2rem;
  text-align: center;
  h2 {
    padding-bottom: 1rem;
  }
}

.bean-info {
  text-align: left;
}

.process-chocolate {
  width: 100%;
  height: 132px;
  padding: 1rem 0;
}

.process-cacao {
  height: 150px;
  width: 100%;
}