// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #fff;
$color__text-main: rgba(74,74,74,1);

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: rgba(225,52,4,1);

$color_primary_orange: rgba(225,52,4,1);
$color_background_darkgray: rgba(0,0,0,1);
$color_secondary_brownyellow: rgba(201,164,97,1);
$color_secondary_lightbrown: rgba(189,163,138,1);
$color_secondary_brown: rgba(86,48,23,1);


// Typography

$font__main: "Lato", sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// Screen sizes
$tablet-width: 600px;
$desktop-width: 1000px;


