// Volunteer page style
.page-id-42{
  // hero banner
  .volunteer-hero-banner{
    background: linear-gradient( rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.6)), url("../../assets/images/volunteer/volunteer-hero.png") center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .volunteer-container{
    background-color: $color_secondary_darkgray;
    color: white;
    text-align: center;
  }
}

