// workshop archive -------------------------------==================-------------------------

.post-type-archive-workshop {
  .workshops-hero-banner{
    background: linear-gradient( rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.6)), url("../../assets/images/workshop/workshops-hero.jpg") center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-nav-bg-color {
    background-color: $color_secondary_brownyellow;
    @include desktop {
      background-color: rgba(0,0,0,.6);
    }
  }
}

.workshops-main {
  background-color: $color_background_gray;
}

.workshops-content {
  color: white;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  a {
    color: white;
  }
  a:visited {
    color: white;
  }
  h2 {
    text-align: center;
  }
  .h2-line {
    border-bottom: 1px solid white;
    margin-bottom: 2rem;
  }
}

.workshop-list {
  display: flex;
  flex-wrap: wrap;
}

.single-workshop-on-page {
  width: 40%;
  margin: 5%;
  a {
    text-decoration: none;
  }
  .workshop-image-wrapper {
    @include aspect-ratio(1, 1);
  }
  img {
    width: 100%;
    height: 100%;
  }
  h3, p {
    margin-bottom: 1rem;
  }
}

.interested {
  text-align: center;
  p {
    font-size: 1.2rem;
  }
}

// workshop single --------------------============================-------------------------

.single-workshop-header {
  @include desktop {
    position: relative;
  }
  .single-workshop-hero-banner {
    height: 424px;
    overflow-y: hidden;
    width: 100%;
    @include desktop {
      height: 100vh;
    }
    img {
      width: 100%;
    }
  }
  .banner-title {
    max-width: 1080px;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
    margin-bottom: 0;
    padding-top: 2rem;
    @include desktop {
      position: absolute;
      color: white;
      bottom: 0;
      margin-bottom: 100px;
      font-size: 3rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: left;
      padding-left: 2rem;
      text-shadow: 1px 1px 1px black;
    }
  }
}

.single-workshop-content {
  text-align: left;
  padding: 2rem 10%;
  .workshop-details {
    * {
    font-weight: normal;
    }
    span {
      display: inline;
      padding-left: 1rem;
    }
  }
  .button-border-orange {
    text-align: center;
  }
}